# Individual Project 2
---
**Author:** Dylan Tulett  
**Version:** 1.0  
**Date:** January 2021

## 1.1 Setting up the notebook

In [149]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import scipy.stats as stats

## 1.2.1 Reading in File
Weather data from 2012

In [150]:
df = pd.read_csv('weather_2012.csv')

### 1.2.2 Displaying Data
- first 5 rows
- last 5 rows
- random 5 rows

In [151]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [152]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [153]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
6826,2012-10-11 10:00:00,7.7,0.2,59,32,48.3,101.19,Mostly Cloudy
4766,2012-07-17 14:00:00,25.5,23.1,87,17,6.4,99.65,"Thunderstorms,Rain Showers"
2348,2012-04-07 20:00:00,7.7,-5.4,39,15,25.0,101.43,Cloudy
683,2012-01-29 11:00:00,-0.8,-7.7,59,33,24.1,100.84,Mainly Clear
5088,2012-07-31 00:00:00,22.2,19.0,82,6,25.0,101.03,Mainly Clear

### 1.2.3 Displaying Columns

In [154]:
list(df.columns)

['Date/Time',
 'Temp (C)',
 'Dew Point Temp (C)',
 'Rel Hum (%)',
 'Wind Spd (km/h)',
 'Visibility (km)',
 'Stn Press (kPa)',
 'Weather']

### 1.2.4 Renaming Columns

In [298]:
col_names = df.columns.tolist()

In [156]:
df.rename(columns = {
    'Date/Time' : 'date_time', 
    'Temp (C)' : 'temp_c',
    'Dew Point Temp (C)' : 'dew_point',
    'Rel Hum (%)' : 'relative_humidity',
    'Wind Spd (km/h)' : 'wind_speed',
    'Visibility (km)' : 'visibility', 
    'Stn Press (kPa)' : 'pressure',
    'Weather' : 'weather'
}, inplace = True)

### 1.2.5 Getting Table Data

In [157]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

### 1.2.6 Creating a Column For Farenheit

In [158]:
temp_f = (df.temp_c * (9/5)) + 32

In [159]:
df['temp_f'] = temp_f

In [160]:
df

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow,32.18
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow,32.36
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow,31.10
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow,31.64
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow,32.00

### 1.2.7 Moving Farenheit Column
We will move the column for farenheit to be before the celsius column

In [161]:
df = df[['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']]

### 1.2.8 Showing datatypes of Column Data

In [162]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

### 1.2.9 Changing dtype of date_time
- date_time is type 'object', so we will change it to type datetime
- We will then check its dtype to make sure it is in a date and time format

In [163]:
df.date_time = pd.to_datetime(df.date_time)

In [164]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

### 1.2.10 Getting average temp/month
- Get average temp per month and put those values into a dataframe

In [165]:
df.date_time2 = df.date_time.astype(str)
df.month = df.date_time2.str.split('-')
df.month = df.month.str.get(1).astype(int)

<ipython-input-165-f18f1dbaede3>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.date_time2 = df.date_time.astype(str)
<ipython-input-165-f18f1dbaede3>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.month = df.date_time2.str.split('-')

In [166]:
monthly_avg = df.temp_f.groupby(df.month).mean()
monthly_avg = pd.DataFrame(monthly_avg)
type(monthly_avg)

pandas.core.frame.DataFrame

### 1.2.10 New Column Called "month"

In [167]:
monthly_avg['month'] = [1,2,3,4,5,6,7,8,9,10,11,12]

### 1.2.11 Reordering DataFrame Columns

In [168]:
monthly_avg = monthly_avg[['month','temp_f']]

### 1.2.12 Getting rid of index name

In [169]:
monthly_avg.rename_axis('', inplace = True)

In [170]:
monthly_avg

    month     temp_f

1       1  18.731290
2       2  24.395000
3       3  37.618226
4       4  44.616750
5       5  61.227984
6       6  68.241250
7       7  73.022097
8       8  72.102742
9       9  61.672000
10     10  51.718952
11     11  33.676500
12     12  26.048629

### 1.2.13 Changing 'month' from numbers to names
- For this I will write a function to change the number to the month name. 
- I will use a dictionary to do this, with the number being the key

In [171]:
def numToMonth(month_num):
    """This returns the name of a month, taking the month number as its argument."""
    month_dict = {
        1 : 'January',
        2 : 'February',
        3 : 'March',
        4 : 'April',
        5 : 'May',
        6 : 'June',
        7 : 'July',
        8 : 'August',
        9 : 'September',
        10 : 'October',
        11 : 'November',
        12 : 'December'
    }
    return month_dict[month_num]

In [172]:
for i in range(1,13):
    monthly_avg.replace(i, numToMonth(i))

In [173]:
monthly_avg.month = list(map(lambda x: numToMonth(x), monthly_avg.month))

In [174]:
monthly_avg

        month     temp_f

1     January  18.731290
2    February  24.395000
3       March  37.618226
4       April  44.616750
5         May  61.227984
6        June  68.241250
7        July  73.022097
8      August  72.102742
9   September  61.672000
10    October  51.718952
11   November  33.676500
12   December  26.048629

### 1.2.14 Getting hourly temp averages
- This datatset will be left in a series so we can manipulate it

In [175]:
date_time2 = df.date_time.astype(str)
hour = date_time2.str.split('-')

In [176]:
for i in range(len(hour)):
     hour[i] = str(hour[i][2]).split(' ')[1]

In [178]:
hourly_avg = df.temp_f.groupby(hour).mean()

### 1.2.15 Rewriting the Index name to "Hour"

In [179]:
hourly_avg.rename_axis('Hour', inplace=True)

### 1.2.16 Changing the hours to a user friendly value
- ex: 1:00PM

In [180]:
def hour24To12(hour):
    time_dict = {
        '00:00:00' : '12:00AM',
        '01:00:00' : '1:00AM',
        '02:00:00' : '2:00AM',
        '03:00:00' : '3:00AM',
        '04:00:00' : '4:00AM',
        '05:00:00' : '5:00AM',
        '06:00:00' : '6:00AM',
        '07:00:00' : '7:00AM',
        '08:00:00' : '8:00AM',
        '09:00:00' : '9:00AM',
        '10:00:00' : '10:00AM',
        '11:00:00' : '11:00AM',
        '12:00:00' : '12:00AM',
        '13:00:00' : '1:00PM',
        '14:00:00' : '2:00PM',
        '15:00:00' : '3:00PM',
        '16:00:00' : '4:00PM',
        '17:00:00' : '5:00PM',
        '18:00:00' : '6:00PM',
        '19:00:00' : '7:00PM',
        '20:00:00' : '8:00PM',
        '21:00:00' : '9:00PM',
        '22:00:00' : '10:00PM',
        '23:00:00' : '11:00PM'
    }
    return(time_dict[hour])

In [181]:
hourly_avg.index = list(map(lambda x: hour24To12(x), hourly_avg.index))

In [182]:
hourly_avg

12:00AM    45.623443
1:00AM     44.762787
2:00AM     43.980820
3:00AM     43.325246
4:00AM     42.744426
5:00AM     42.291967
6:00AM     42.859508
7:00AM     43.831311
8:00AM     45.280656
9:00AM     46.987213
10:00AM    48.699672
11:00AM    50.193770
12:00AM    51.541803
1:00PM     52.508689
2:00PM     53.196721
3:00PM     53.391475
4:00PM     53.178033
5:00PM     52.297705
6:00PM     51.181311
7:00PM     50.041311
8:00PM     48.848197
9:00PM     47.851803
10:00PM    47.064918
11:00PM    46.397049
Name: temp_f, dtype: float64

### 1.2.17 Getting a count of the different weather designations

In [184]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [282]:
df.weather.groupby(df.weather).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

### 1.2.18 Getting all of the different weather types

In [283]:
weather_types = set()

In [285]:
a = df.weather.str.split(',')
for row in range(len(a)):
    for column in range(len(a[row])):
        weather_types.add(a[row][column])

In [287]:
weather_types = list(weather_types)

In [288]:
weather_types

['Moderate Snow',
 'Drizzle',
 'Rain Showers',
 'Freezing Fog',
 'Snow',
 'Snow Showers',
 'Rain',
 'Clear',
 'Fog',
 'Blowing Snow',
 'Ice Pellets',
 'Snow Pellets',
 'Moderate Rain',
 'Cloudy',
 'Mainly Clear',
 'Moderate Rain Showers',
 'Thunderstorms',
 'Haze',
 'Freezing Drizzle',
 'Snow Grains',
 'Freezing Rain',
 'Mostly Cloudy',
 'Heavy Rain Showers']

### 1.2.19 Sorting weather_types alphabetically ascending

In [292]:
weather_types = sorted(weather_types, reverse = True)

In [293]:
weather_types

['Thunderstorms',
 'Snow Showers',
 'Snow Pellets',
 'Snow Grains',
 'Snow',
 'Rain Showers',
 'Rain',
 'Mostly Cloudy',
 'Moderate Snow',
 'Moderate Rain Showers',
 'Moderate Rain',
 'Mainly Clear',
 'Ice Pellets',
 'Heavy Rain Showers',
 'Haze',
 'Freezing Rain',
 'Freezing Fog',
 'Freezing Drizzle',
 'Fog',
 'Drizzle',
 'Cloudy',
 'Clear',
 'Blowing Snow']

In [301]:
col_names.append('Temp (F)')

In [306]:
df.rename(columns = {
    'date_time':'Date/Time', 
    'temp_c':'Temp (C)',
    'temp_f':'Temp (F)',
    'dew_point':'Dew Point Temp (C)',
    'relative_humidity':'Rel Hum (%)',
    'wind_speed':'Wind Spd (km/h)',
    'visibility': 'Visibility (km)', 
    'pressure':'Stn Press (kPa)',
    'weather':'Weather'})

,Date/Time,Temp (F),Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow

### 1.2.20 Saving the file

In [312]:
df.to_csv('weather_2012_new.csv', index=False)

In [313]:
hourly_avg.to_csv('hourly_avg.csv', index=False)

In [314]:
monthly_avg.to_csv('monthly_avg.csv', index=False)